html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #778C84;
	cursor: default;
}
body{
	margin: auto;
	padding: 10px;
	width: 80%;
	height: 100%;
	background: #E7DBCA;	
	font-family: Arial, Helvetica, sans-serif;
}
#login-container{
	text-align: center;
}

#login{
	width: 300px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#error-message{
	color: red;
	font-size: 15px;
	font-style: italic;
	text-align: left;
}

.tab{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #71604C;
}

.tab li{
	float: left;
}

.tab li:hover{
	background-color: #C1B198;
}

.chosen{
	background-color: #C1B198;
	color: #71604C;
}

.tablink{
	color: black;
}

.tab li div{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.form-row{
	margin-top: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#center{
	height: 80%;
	width: 100%;
}

#content-container{
	display: block;
	height: 100%;
	width: 100%;
}
.tab-content{
    display: none;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content:last-child{
	padding: 0;
	margin: 1px -1px;
}

.tab-item{
	margin: 5px;
	padding: 5px;
	width: 300px;
	border: 1px solid #71604C;
	text-align: left;
}
.tab-item tr td:first-child{
	width:170px;
}

#op-options{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #71604C;
	width: 150px;
	float: left;
}

#op-options li{
	width: 100%;
	text-align: center;
}

#op-options li:hover{
	background-color: #C1B198;
}

#op-options li a{
	width: 100%;	
}

#op-options li a:focus{
	background-color: #C1B198;
}

#op-options li div{
	display: inline-block;
    color: black;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#operations-container{
	display: inline-block;
	margin-left: 20px;
}

.trans-content{
	display: none;
}

.showcase{
	display:none;
	width: 100%;
	height: 100%;
}

.showcase img{
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
 	 transition: opacity 1s ease-in-out;
}

.active{
	display: block;	
} 



#footer{
	position: absolute;
	bottom: 0;	
	width: 80%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #71604C;
}

#footer li{
	float: left;
}

#footer li a{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 10px;
}

#footer li a:hover{
	color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
