html{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #778C84;
	cursor: default;
}
body{
	margin: auto;
	padding: 10px;
	width: 80%;
	height: 100%;
	background: #E7DBCA;
}

#login{
	width: 300px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#error-message{
	color: red;
	font-size: 15px;
	font-style: italic;
}

.tab{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #71604C;
}

.tab li{
	float: left;
}

.tab li:hover{
	background-color: #C1B198;
}

.tab li a:focus{
	background-color: #C1B198;
}

.tab li a{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#center{
	height: 80%;
	width: 100%;
}

#content-container{
	display: block;
	height: 100%;
	width: 100%;
}
.tab-content{
    display: none;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-item{
	margin: 5px;
	padding: 5px;
	width: 300px;
	border: 1px solid #71604C;
	text-align: left;
}
.tab-item tr td:first-child{
	width:170px;
}

#op-options{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #71604C;
	width: 150px;
	float: left;
}

#op-options li{
	width: 100%;
	text-align: center;
}

#op-options li:hover{
	background-color: #C1B198;
}

#op-options li a{
	width: 100%;	
}

#op-options li a:focus{
	background-color: #C1B198;
}

#op-options li a{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#operations-container{
	display: inline-block;
	margin-left: 20px;
}

#footer{
	position: absolute;
	bottom: 0;	
	width: 80%;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #71604C;
}

#footer li{
	float: left;
}

#footer li a{
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 10px;
}

#footer li a:hover{
	color: #fff;
}

